@import "tailwindcss";

@theme {
  --color-primary: oklch(0.7438 0.169 48.36);
  --color-primary-text: oklch(0.9636 0.0328 107);
}

@keyframes verticalLoop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.scroll-track {
  animation: verticalLoop 5s linear infinite;
}

@keyframes extendRight {
  0%,
  100% {
    /* transform: scaleX(1) translateX(0); */
    max-width: 70%;
  }
  50% {
    /* transform: scaleX(1.08) translateX(4%); */
    max-width: 100%;
  }
}
@keyframes extendRightSmall {
  0%,
  100% {
    transform: scaleX(1) translateX(0);
    /* max-width: 80%; */
  }
  50% {
    transform: scaleX(1.08) translateX(4%);
    /* max-width: 100%; */
  }
}

.animate-extend-right {
  animation: extendRightSmall 2.5s ease-in-out infinite;
  transform-origin: right;
}
@media (min-width: 650px) {
  .animate-extend-right {
    animation: extendRight 2.5s ease-in-out infinite;
    transform-origin: right;
  }
}
