@import "tailwindcss";

@theme {
  --color-primary: oklch(0.7438 0.169 48.36);
  --color-primary-text: oklch(0.9636 0.0328 107);
}

@keyframes verticalLoop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.scroll-track {
  animation: verticalLoop 5s linear infinite;
}

@keyframes extendRight {
  0%,
  100% {
    /* transform: scaleX(1) translateX(0); */
    width: 50%;
  }
  50% {
    /* transform: scaleX(1.08) translateX(4%); */
    width: 100%;
  }
}

.animate-extend-right {
  animation: extendRight 2.5s ease-in-out infinite;
  transform-origin: right;
}
